<!doctype html>

<head>
    <% include ../partials/head_content %>
    <title>Instructions Page</title>
</head>
<style>
    body {
        background-color: lightgrey;
    }

    .center {
        margin: auto;
        width: 50%
    }

    .instruction-border {
        border-radius: 100px;
        border: 4px solid #CFBC6B;
        padding: 10px;
    }
</style>

<body>
    <% include ../partials/navigation_bar %>
    <br>
    <div class="container">
        <div class="instruction-border">
            <h1 style="font-size: 23pt; text-align: center;" class="display-4" id="instructions_display">
            </h1>
        </div>


        <br>

        <form class="center" action="/home" method="GET">
            <button class="btn btn-dark btn-block" type="submit">Get new
                instruction</button>
        </form>


        <p class="center" style="margin-top: 100px; font-size: 20px; text-align: center;">
            <em>Need a visual? Head over to our maps page under the resources tab!</em></p>
    </div>



    </div>
</body>



<script>
    var instructions = JSON.parse('<%- JSON.stringify(instructionData[0].writteninstructions) %>')
    var currentRoom = `<%- currentRoom%>`
    var targetRoom = `<%-targetRoom%>`
    var currentRoomWing = `<%- currentRoomWing%>`
    var targetRoomWing = `<%- targetRoomWing%>`


    document.getElementById("instructions_display").innerHTML += `
        In order to get from ${currentRoomWing.toUpperCase()} ${currentRoom} to ${targetRoomWing.toUpperCase()} ${targetRoom},
    you must: ${instructions}`

    // console.log("Instructions: ", instructions)
    // console.log("Current Room: ", currentRoom)
    // console.log("Target Room: ", targetRoom)




</script>